.App {
  width: 700px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  height: 100px;
  margin-bottom: 20px;
  border-bottom: solid 5px #eee;
  border-left: solid 5px #eee;
  border-right: solid 5px #eee;
  border-radius: 0.3em;
}